# config/config.yaml

# ----------------------------------------------------------
# This is the main configuration file for the 'tucca-rna-seq' workflow
#
# For instructions on how to set up the workflow please refer to our
# documentation at:
# https://tucca-cellag.github.io/tucca-rna-seq/introduction
#
# If you cannot find a satisfactory answer in our documentation, please let us
# know about your issue on our GitHub page, so we can assist you further:
# https://github.com/tucca-cellag/tucca-rna-seq/issues/new

# The default data/configuration is an example analysis using data from
# BioProject PRJNA716186 (https://www.ncbi.nlm.nih.gov/bioproject/PRJNA716186)
# ----------------------------------------------------------

# ----------------------------------------------------------
# Genome Section
#
# This section defines the reference genome parameters
#
# - source: Specify either "RefSeq", "Ensembl", or "GENCODE"
#     • RefSeq info: https://www.ncbi.nlm.nih.gov/refseq/about/
#     • Ensembl info: https://ensembl.org/info/genome/genebuild/assembly.html
#     • Comparison: https://www.ncbi.nlm.nih.gov/books/NBK50679/#RefSeqFAQ.what_is_the_difference_between_1
#     • GENCODE info: https://www.gencodegenes.org/pages/gencode.html
#
# - accession: The genome’s GenBank or RefSeq accession number
#     (See: https://www.ncbi.nlm.nih.gov/datasets/genome/)
#
# - name: The name assigned to the genome assembly (build)
#
# - release: The release of the Ensembl or GENCODE assembly (not required for RefSeq assemblies)
#
# - species: Scientific name in the format "Genus_species" (e.g., "Gallus_gallus")
#
# ----------------------------------------------------------
ref_assembly:
  source: "RefSeq"
  accession: "GCF_016699485.2"
  name: "bGalGal1.mat.broiler.GRCg7b"
  release: ""
  species: "Gallus_gallus"

# ----------------------------------------------------------
# API Key Section:
# If you are running this workflow too frequently, NCBI's datasets software may
# throttle your API calls without an API key.
# ----------------------------------------------------------
api_keys:
  ncbi: ""

# ----------------------------------------------------------
# Differential Expression Section:
# ----------------------------------------------------------
diffexp:

# ----------------------------------------------------------
# Differential Expression Section:
# ----------------------------------------------------------
enrichment:

# ----------------------------------------------------------
# Sample and Unit Sheet Section
# ----------------------------------------------------------
# Path to your SAMPLE SHEET which keeps track of your biological replicates
samples: "config/samples.tsv"
# Path to your sequencing UNIT SHEET which keeps track of your technical
# replicates (e.g. sequencer lanes or resequencing of the same biological
# sample)
units: "config/units.tsv"

# ----------------------------------------------------------
# Params Section: Configurable Settings for the Software
#
# This section contains all the adjustable parameters for the various
# software tools used in the workflow. Update these settings to customize
# the analysis to match your experimental setup.
#
# Each sub-section (e.g., fastqc, star, salmon_quant) provides tool-specific
# options. Modify these as needed to fine-tune the performance and behavior
# of the pipeline.
# ----------------------------------------------------------
params:
  fastqc:
    memory: 1024
    extra: ""
  star_index:
    sjdbOverhang: 149
    extra: ""
  star:
    # Note that this Snakemake workflow is currently only built to work when
    # the output files from STAR are BAM files that are sorted by coordinate.
    outSAMtype: "BAM SortedByCoordinate" # Changing will break the workflow
    outSAMunmapped: "Within"
    outSAMattributes: "Standard"
    readFilesCommand: "zcat"
    outFilterMultimapNmax: 1
    outFilterScoreMinOverLread: 0
    outFilterMatchNminOverLread: 0
    alignIntronMin: 1
    alignIntronMax: 2500
    extra: ""
  qualimap_rnaseq:
    counting_alg: "proportional"
    sequencing_protocol: "non-strand-specific"
    extra: "--paired --java-mem-size=8G"
  salmon_index:
    extra: "-k 31"
  salmon_quant:
    # --lib_type A: Auto detect type of sequencing lib from which the reads
    # came from (recommended)
    libtype: "A"
    extra: "--seqBias --posBias --writeUnmappedNames"
  multiqc:
    report_name: "multiqc_report"
    overwrite_existing: "-f"
    # Leave out if you don't want to automatically overwrite existing reports
    multiqc_config_path: "config/multiqc_config.yaml"
    extra: ""
  sra_tools:
    vdb_config_ra_path: "/repository/user/main/remote_access=true"
  tximeta:
    extra: ""
