$schema: "https://json-schema.org/draft/2020-12/schema"

description: snakemake configuration file

properties:
  samples:
    type: string
  units:
    type: string

  ref_assembly:
    type: object
    properties:
      source:
        type: string
        description: "source must be one of RefSeq, LocalEnsembl, LocalGENCODE"
        pattern: "^RefSeq|LocalEnsembl|LocalGENCODE$"
      accession:
        type: string
      name:
        type: string
      release:
        type: string
      species:
        type: string
      custom_files:
        type: object
        properties:
          custom_genome_fasta:
            type: string
          custom_genome_gtf:
            type: string
          custom_transcriptome_fasta:
            type: string

  api_keys:
    type: object
    properties:
      ncbi:
        type: string

  params:
    type: object
    properties:
      fastqc:
        type: object
        properties:
          memory:
            type: integer
          extra:
            type: string
      star_index:
        type: object
        properties:
          sjdbOverhang:
            type: integer
          extra:
            type: string
      star:
        type: object
        properties:
          outSAMtype:
            type: string
          outSAMunmapped:
            type: string
          outSAMattributes:
            type: string
          readFilesCommand:
            type: string
          outFilterMultimapNmax:
            type: integer
          outFilterScoreMinOverLread:
            type: integer
          outFilterMatchNminOverLread:
            type: integer
          alignIntronMin:
            type: integer
          alignIntronMax:
            type: integer
          extra:
            type: string
      qualimap_rnaseq:
        type: object
        properties:
          counting_alg:
            type: string
          sequencing_protocol:
            type: string
          extra:
            type: string
      salmon_index:
        type: object
        properties:
          extra:
            type: string
      salmon_quant:
        type: object
        properties:
          libtype:
            type: string
          extra:
            type: string
      multiqc:
        type: object
        properties:
          report_name:
            type: string
          overwrite_existing:
            type: string
          multiqc_config_path:
            type: string
          extra:
            type: string
      sra_tools:
        type: object
        properties:
          vdb_config_ra_path:
            type: string
