$schema: "https://json-schema.org/draft/2020-12/schema"

description: snakemake configuration file

properties:
  samples:
    type: string
  units:
    type: string

  ref_assembly:
    type: object
    properties:
      source:
        type: string
        description: "source must be one of RefSeq, Ensembl, GENCODE"
        pattern: "^(RefSeq|Ensembl|GENCODE)$"
      accession:
        type: string
      name:
        type: string
      release:
        type: string
      species:
        type: string
        pattern: "^[A-Z][a-z]+_[a-z]+(?:_[a-z]+)?$"
      custom_files:
        type: object
        properties:
          custom_genome_fasta:
            type: string
          custom_genome_gtf:
            type: string
          custom_transcriptome_fasta:
            type: string
    required:
      - source
      - name
      - species
    allOf:
      - if:
          properties:
            source:
              const: "RefSeq"
        then:
          properties:
            accession:
              pattern: "^GCF_[0-9]+.[0-9]+$"
              description: "RefSeq assembly accessions are of the pattern "
      - if:
          properties:
            source:
              pattern: "^(Ensembl|GENCODE)$"
        then:
          properties:
            accession:
              pattern: "^GCA_[0-9]+.[0-9]+$"
              description: "Ensembl and GENCODE assembly accessions are of the pattern ^GCA_[0-9]+.[0-9]+$"
          required:
            - release

  api_keys:
    type: object
    properties:
      ncbi:
        type: string

  diffexp:
    type: object
    properties:
      tximeta:
        type: object
        properties:
          factors:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                reference_level:
                  type: string
              required: [name, reference_level]
          extra:
            type: string
      deseq2:
        type: object
        properties:
          analyses:
            type: array
            minItems: 1
            items:
              type: object
              properties:
                name:
                  type: string
                deseqdataset:
                  type: object
                  properties:
                    formula:
                      type: string
                    min_counts:
                      type: integer
                    extra:
                      type: string
                    threads:
                      type: integer
                  required: [formula, min_counts, threads]
                wald:
                  type: object
                  properties:
                    deseq_extra:
                      type: string
                    shrink_extra:
                      type: string
                    results_extra:
                      type: string
                    threads:
                      type: integer
                  required: [threads]
                contrasts:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      elements:
                        type: array
                        items:
                          type: string
                    required: [name, elements]
              required: [name, deseqdataset, wald, contrasts]
        required: [analyses]

  enrichment:
    type: object
    properties:
      padj_cutoff:
        type: number
        description: "Adjusted p-value cutoff to define significant genes for ORA."
      targets:
        type: array
        items:
          type: string
      clusterprofiler:
        type: object
        properties:
          gsea:
            type: object
            properties:
              gseGO:
                type: object
                properties:
                  extra: { type: string }
                required: [extra]
              gseKEGG:
                type: object
                properties:
                  extra: { type: string }
                required: [extra]
            required: [gseGO, gseKEGG]
          ora:
            type: object
            properties:
              enrichGO:
                type: object
                properties:
                  extra: { type: string }
              enrichKEGG:
                type: object
                properties:
                  extra: { type: string }
                required: [extra]
            required: [enrichGO, enrichKEGG]
          kegg_module:
            type: object
            properties:
              enabled:
                type: boolean
              enrichMKEGG:
                type: object
                properties:
                  extra: { type: string }
              gseMKEGG:
                type: object
                properties:
                  extra: { type: string }
            required: [enabled]
        required: [gsea, ora, kegg_module]
      annotationforge:
        type: object
        properties:
          version:
            type: string
          author:
            type: string
          extra:
            type: string
    required: [padj_cutoff, clusterprofiler]

  params:
    type: object
    properties:
      fastqc:
        type: object
        properties:
          memory:
            type: integer
          extra:
            type: string
      star_index:
        type: object
        properties:
          sjdbOverhang:
            type: integer
          extra:
            type: string
      star:
        type: object
        properties:
          outSAMtype:
            type: string
          outSAMunmapped:
            type: string
          outSAMattributes:
            type: string
          readFilesCommand:
            type: string
          outFilterMultimapNmax:
            type: integer
          outFilterScoreMinOverLread:
            type: integer
          outFilterMatchNminOverLread:
            type: integer
          alignIntronMin:
            type: integer
          alignIntronMax:
            type: integer
          extra:
            type: string
      qualimap_rnaseq:
        type: object
        properties:
          counting_alg:
            type: string
          sequencing_protocol:
            type: string
          extra:
            type: string
      salmon_index:
        type: object
        properties:
          extra:
            type: string
      salmon_quant:
        type: object
        properties:
          libtype:
            type: string
          extra:
            type: string
      multiqc:
        type: object
        properties:
          extra:
            type: string
      sra_tools:
        type: object
        properties:
          vdb_config_ra_path:
            type: string

required:
  - samples
  - units
  - ref_assembly
  - api_keys
  - diffexp
  - enrichment
  - params
