# .github/workflow/main.yml

name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches-ignore: []
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Run Super-Linter
        uses: github/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_SNAKEMAKE_SNAKEFMT: true
          VALIDATE_YAML: true
          VALIDATE_R: true
          VALIDATE_PYTHON_PYLINT: true

  Linting:
    name: Linting (using ${{ matrix.version.name }} versions)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        version:
          - name: stable
            snakemake: 8.27.1
            allow_failure: false
          - name: latest
            snakemake: "*"
            allow_failure: false
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Lint workflow
        uses: snakemake/snakemake-github-action@v2
        continue-on-error: ${{ matrix.version.allow_failure }}
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: --lint --verbose
          snakemake-version: ${{ matrix.version.snakemake }}

  Run_Workflow_Conda:
    name: Run Conda workflow for ${{ matrix.scenario.name }} (Snakemake ${{ matrix.version.name }})
    runs-on: ubuntu-latest
    needs:
      - Linting
      - Formatting
    strategy:
      fail-fast: true
      matrix:
        scenario:
          # SRA Reads
          - name: SRA Reads (conda)
            rules: aggregate_sra_pe_reads
            configfile: .test/sra_reads/config/config.yaml
            extra_args: ""
            cleanup: false
          # Local Reads - Ensembl (COMPLEX ONLY)
          - name: Local Reads (ensembl, complex, conda)
            rules: all
            configfile: .test/local_reads/ensembl/config_complex/config.yaml
            extra_args: ""
            cleanup: false
          # Local Reads - RefSeq (COMPLEX ONLY)
          - name: Local Reads (refseq, complex, conda)
            rules: all
            configfile: .test/local_reads/refseq/config_complex/config.yaml
            extra_args: ""
            cleanup: false
        version:
          - name: stable
            snakemake: 8.27.1
            allow_failure: false
          - name: latest
            snakemake: "*"
            allow_failure: false
    steps:
      - name: update apt
        run: sudo apt-get update
      - name: Free Disk Space (Ubuntu)
        if: ${{ matrix.scenario.cleanup }}
        uses: jlumbroso/free-disk-space@v1.3.0
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Run Snakemake workflow (Conda)
        uses: snakemake/snakemake-github-action@v2
        continue-on-error: ${{ matrix.version.allow_failure }}
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            ${{ matrix.scenario.rules }} --workflow-profile profiles/github-actions
            --configfile ${{ matrix.scenario.configfile }}
            --config api_keys='{"ncbi": "${{ secrets.BB_NCBI_API_KEY }}"}'
            ${{ matrix.scenario.extra_args }}
          show-disk-usage-on-error: true
          snakemake-version: ${{ matrix.version.snakemake }}
      - name: Upload ./logs/
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: conda-workflow-${{ matrix.scenario.name }}-${{ matrix.version.name }}-logs
          path: logs/

  Run_Workflow_Singularity:
    name: Run Singularity workflow for ${{ matrix.scenario.name }} (Snakemake ${{ matrix.version.name }})
    runs-on: ubuntu-latest
    needs: # No longer needs Snakemake_Env_Init
      - Linting
      - Formatting
    strategy:
      fail-fast: true
      matrix:
        scenario:
          # SRA Reads
          - name: SRA Reads (singularity)
            rules: aggregate_sra_pe_reads
            configfile: .test/sra_reads/config/config.yaml
            extra_args: ""
            cleanup: false
          # Local Reads - Ensembl (COMPLEX ONLY)
          - name: Local Reads (ensembl, complex, singularity)
            rules: all
            configfile: .test/local_reads/ensembl/config_complex/config.yaml
            extra_args: ""
            cleanup: false
          # Local Reads - RefSeq (COMPLEX ONLY)
          - name: Local Reads (refseq, complex, singularity)
            rules: all
            configfile: .test/local_reads/refseq/config_complex/config.yaml
            extra_args: ""
            cleanup: false
        version:
          - name: stable
            snakemake: 8.27.1
            singularity: 3.8.4
            allow_failure: true
          - name: latest
            snakemake: "*"
            singularity: # Let singularityhub/install-singularity@main pick latest
            allow_failure: true
    steps:
      - name: update apt
        run: sudo apt-get update
      - name: Free Disk Space (Ubuntu)
        if: ${{ matrix.scenario.cleanup }}
        uses: jlumbroso/free-disk-space@v1.3.0
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install Singularity (specified version)
        if: ${{ matrix.version.name != 'latest' && matrix.version.singularity != '' }}
        uses: singularityhub/install-singularity@main
        with:
          singularity-version: ${{ matrix.version.singularity }}
      - name: Install Singularity (default latest)
        if: ${{ matrix.version.name == 'latest' && matrix.version.singularity == '' }}
        uses: singularityhub/install-singularity@main
      - name: Run Snakemake workflow (Singularity)
        uses: snakemake/snakemake-github-action@v2
        continue-on-error: ${{ matrix.version.allow_failure }}
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            ${{ matrix.scenario.rules }} --workflow-profile profiles/github-actions
            --use-singularity
            --configfile ${{ matrix.scenario.configfile }}
            --config api_keys='{"ncbi": "${{ secrets.BB_NCBI_API_KEY }}"}'
            ${{ matrix.scenario.extra_args }}
          show-disk-usage-on-error: true
          snakemake-version: ${{ matrix.version.snakemake }}
      - name: Upload ./logs/
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: singularity-workflow-${{ matrix.scenario.name }}-${{ matrix.version.name }}-logs
          path: logs/
