# .github/workflow/main.yml

name: Tests

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: [main]

jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Super-Linter
        uses: github/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_SNAKEMAKE_SNAKEFMT: true
          VALIDATE_MARKDOWN_PRETTIER: true
          VALIDATE_YAML: true
          VALIDATE_R: true
          VALIDATE_PYTHON_PYLINT: true

  Linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint workflow
        uses: snakemake/snakemake-github-action@v2.0.0
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: "--lint"

  Testing:
    name: Run Snakemake Workflow with Singularity v3.8.4
    runs-on: ubuntu-latest
    needs:
      - Linting
      - Formatting
    steps:
      # Check out your repository (including your Snakefile and profiles directory)
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Cache the Singularity images directory.
      - name: Cache Singularity Images
        uses: actions/cache@v4
        with:
          # Adjust the path if your Singularity images are stored elsewhere.
          path: .snakemake/singularity
          # Here we use a key that combines the OS and a hash of all .smk files in the rules directory.
          key: ${{ runner.os }}-singularity-${{ hashFiles('workflow/rules/*.smk') }}
          restore-keys: |
            ${{ runner.os }}-singularity-

      # Cache the Conda packages directory to avoid re-downloading packages
      - name: Cache Conda Packages
        uses: actions/cache@v4
        with:
          # Path used in your setup; adjust if you use a different directory.
          path: /home/runner/conda_pkgs_dir
          # Use the environment file hash to update the cache whenever it changes.
          key: ${{ runner.os }}-conda-pkgs-${{ hashFiles('.snakemake.environment.yaml') }}
          restore-keys: |
            ${{ runner.os }}-conda-pkgs-

      # Cache the snakemake environment directory
      - name: Cache snakemake Conda Environment
        uses: actions/cache@v4
        with:
          # Adjust this path to where your environment is created.
          path: /home/runner/miniconda3/envs/snakemake
          key: ${{ runner.os }}-snakemake-env-${{ hashFiles('.snakemake.environment.yaml') }}
          restore-keys: |
            ${{ runner.os }}-snakemake-env-

      # Install Singularity (or Apptainer) version 3.8.4.
      - name: Install Singularity 3.8.4
        uses: singularityhub/install-singularity@main
        with:
          singularity-version: "3.8.4"

      # Run the Snakemake workflow on SRA reads.
      - name: Run workflow on SRA reads
        uses: snakemake/snakemake-github-action@v2.0.0
        with:
          directory: "." # Working directory
          snakefile: "workflow/Snakefile" # Snakefile location
          args: "all --workflow-profile profiles/local --configfile .test/singularity/sra_reads/config/config.yaml"
          show-disk-usage-on-error: true

      # Run the Snakemake workflow on local reads.
      - name: Run workflow on local reads
        uses: snakemake/snakemake-github-action@v2.0.0
        with:
          directory: "." # Working directory
          snakefile: "workflow/Snakefile" # Snakefile location
          args: "all --workflow-profile profiles/local --configfile .test/singularity/local_reads/config/config.yaml"
          show-disk-usage-on-error: true

      #- name: Test report
      #  uses: snakemake/snakemake-github-action@v2.0.0
      #  with:
      #    directory: .test
      #    snakefile: workflow/Snakefile
      #    args: "--report report.zip"
